.App {
  max-width: 550px;
  margin: 20px auto;
}
.App footer {
  font-size: 12px;
  margin: 8px 0;
  color: #07324b;
  font-weight: bold;
}
.App .open-source {
  color: #180705;
}
.App .open-source:hover {
  color: rgb(245, 150, 9);
}
