.col .day,
.col .image,
.col .temp-max,
.col.temp.min {
  text-align: center;
}
.col .day {
  color: rgb(255, 253, 253);
  font-weight: 500;
}
.col .temp-max {
  font-weight: bold;
  color: rgb(245, 150, 9);
}
.col {
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  background-color: rgba(115, 175, 224, 0.3);
  margin: 2px 5px;
  padding: 5px;
}
